@import "./app/styles/styles.module"

body
    height: 100%
    margin: 0
    font-size: 14px
    font-family: MarkOT,Open Sans,Arial,sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-color: getColor('white-smoke')

*
    box-sizing: border-box